<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
<!-- Title -->
<title>{{ site.title }}</title>
<!-- Description & Keywords -->
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords | join: ', ' }}">
<!-- Author info -->
<meta name="author" content="{{ site.author }}, {{ site.email }}">
<!-- Handheld -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<!-- CSS -->
<link type="text/css" rel="stylesheet" href="css/blue.css" />
<link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
